name: create_artifacts
on: [push, workflow_dispatch]
jobs:
    test:
        name: Test Code
        runs-on: Ubuntu-latest

        steps:
          - uses: actions/checkout@v4
          - uses: oven-sh/setup-bun@v2
            with:
                bun-version: latest
            run: bun install
            run: |
                bun run random-number-generator.js
                bun run random-number-generator.js "test-seed"
                bun run random-number-generator.js 1906
          - uses: actions/upload-artifact@v4
            with:
                name: test-report
                path: report.txt
    build:
        name: Build Executables
        runs-on: Ubuntu-latest
        needs: test
    test-linux:
        name: Test Linux Executable
        needs: build
        runs-on: Ubuntu-latest